<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list *ngIf="positions">
    <ion-item *ngFor="let position of positions">
      <ion-label>
        Latitude : {{ position.latitude }}
        - Longitude : {{ position.longitude }}
        - Date : {{ position.date | date : 'short' }}
        <ion-icon name="share" style="cursor: pointer;" (click)="sharePosition(position)"></ion-icon></ion-label>
    </ion-item>
  </ion-list>



</ion-content>
